body {
  margin: 0;
  font-family: Arial, sans-serif;
}
#hero {
  padding: 20px;
  text-align: center;
}
#map {
  width: 100%;
  height: 70vh;
}
#results-header {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  margin: 20px;
}
.hospital-result-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  margin: 20px;
}
